@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dela Gothic One";
  src: url('./fonts/DelaGothicOne-Regular.ttf')
}
@font-face {
  font-family: "LimeLight";
  src: url('./fonts/Limelight-Regular.ttf')
}
@font-face {
  font-family: "LibreBaskerville";
  src: url('./fonts/LibreBaskerville-Regular.ttf')
}